server:
  port: 8080
  servlet:
    context-path: /ORS

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: cn.edu.aynu.onlineRegistrationSystem.entity

spring:
  mvc:
    date-format: yyyy-MM-dd HH:mm:ss
  profiles:
    active: dev
  http:
    encoding:
      charset: utf-8
      force: true
  mail:
    host: smtp.sina.cn
    username: 15993343299@sina.cn
    password: d7be93b5a90f9333
    default-encoding: UTF-8
    protocol: smtp
    port: 25
rsa:
  # rsa密钥生成数量
  count: 5
  # rsa密钥长度
  length: 512