server:
  port: 8080
  servlet:
    context-path: /ORS

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: cn.edu.aynu.onlineRegistrationSystem.entity

spring:
  task:
    scheduling:
      pool:
        size: 10
      thread-name-prefix: myScheduling-
  mvc:
    date-format: yyyy-MM-dd HH:mm:ss
  profiles:
    active: home
  http:
    encoding:
      charset: utf-8
      force: true
  mail:
    host: smtp.qq.com
    username: 714133840@qq.com
    password: xgxztbcpxalzbfcf
    default-encoding: UTF-8
    protocol: smtp
    port: 25
rsa:
  # rsa密钥生成数量
  count: 50
  # rsa密钥长度
  length: 512